*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #f3f2ef;
}

.navbar-nav li {
    width: 70px;
    font-size: 10px;
}
.nav-pp img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    cursor: pointer;
}
.nav-pp{
    border-right: 1px solid rgba(128, 128, 128, 0.493);
    height: 4.7em;
}
.navbar-brand{
    color: #0a66c2;
}
.navbar{
    border: 2px solid rgba(158, 151, 151, 0.486);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
}
.main{
    padding-top: 100px;
}
.leftSide .profile,.leftSide .activities{
    border: 2px solid rgba(153, 146, 146, 0.356);
    border-radius: 10px;
    background-color: white;
    padding: 0;
}

.rightSide .stream,.rightSide .content{
    border: 2px solid rgba(153, 146, 146, 0.356);
    border-radius: 10px;
    background-color: white;
    
}

.stream-pp img{
    width: 35px;
    height: 35px;
}
p,a{
    font-size: 12px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: gray;
}
.more:hover{
    opacity: 0.3;
    cursor: pointer;
}
.borderB{
    border-bottom: 1px solid rgba(187, 179, 179, 0.548);
}
button{
    border-radius: 10px;
    font-size: 12px;
}
.btn{
    font-size: 10px;
    border-radius: 20px;

}
.about .btn:hover{
    opacity: 0.3;
    transition: 0.4s;
}
i{
    font-size: 10px;
    cursor: pointer;
}
i:hover{
    opacity: 0.3;
    transition: 0.3s;
}
/*********add background before pp **********/

.profile{
    position: relative;
    height: fit-content; 
    overflow: hidden;
    
}
.bg-pp{
    background-image: url("https://picsum.photos/200/300");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    
}

.profile img{
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
    object-fit: cover;
}
.card-body i{
     font-size: 15px;
}
.cardBottom{
    cursor: pointer;
}
.rounded-circle,.text-primary{
    cursor: pointer;
}
.sticky-topics {
    position: sticky;
    top: 100px; /* Adjust the value as needed */
    /* Add any other styling you want for the sticky column */
    
}
@media screen and (max-width: 1000px){
    .rightSide{
        display: none;
    }
    
}
